*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   background-image: linear-gradient(to left ,rgb(12, 147, 19), #149358);
   font-family: Arial, Helvetica, sans-serif;
}

.taskContainer{
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid white ;
}

.container{
  width: auto;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

#root{
  display: flex;
  flex-direction: column;
  place-items: center;
}

h1{
  margin : 10% 40px 40px 40px;
  font-size: 45px;
}

.input-area{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.input-box{
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1.5px solid black;
}

.add-btn{
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1.5px solid black;
}

.add-btn:hover{
  background-color: #149358;
  color: aliceblue;
  transition: all 0.3s ease;
}

.task{
  background-color: rgb(247, 247, 247);
  margin: 5px;
  padding: 10px;
  border-radius: 12px;

}

.Delete-btn{
  cursor: pointer;
  background-color: orangered;
  color: aliceblue;
  margin: 5px;
  padding: 10px; 
  border-radius: 12px;
  border: 1.5px solid black;
  transition: all 0.3s ease;
}

.Delete-btn:hover{
   background-color: aliceblue;
   color: black;
}
